*{
  font-family: 'Poppins', sans-serif;
}

.main-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #e83e2f;
}

.pokemon-logo{
  width: 200px;
  margin-top: 26px;
  z-index: 10;
}

.background{
  position: fixed;
  left: -1297px;
  animation: background-fx ease-out 30s infinite;
}

.background-2{
  position: fixed;
  opacity: 0;
  z-index: 5;
  left: -1297px;
  transform: rotate(180deg);
  top: -200px;
  animation: background-fx-2 ease-out 45s infinite;
  animation-delay: 5s
}

@keyframes background-fx {
  0%{
    opacity: 0;
    left: -1097px
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0;
    left: 210px
  }
}

@keyframes background-fx-2 {
  0%{
    opacity: 0;
    left: -2297px
  }
  50%{
    opacity: 0.2;
  }
  100%{
    opacity: 0;
    left: 310px
  }
}

/* Landing Page */
.landing{
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: #00000024;
  border-radius: 20px;
  margin: 15px;
  margin-top: 40px;
  z-index: 10;
}

.chooseNumber{
  text-align: center;
  color: #fc0;
  font-size: 25px;
  line-height: 20px;
  text-shadow: 2px 0 #3166b0, -2px 0 #3166b0, 0 2px #3166b0, 0 -2px #3166b0,
             1px 1px #3166b0, -1px -1px #3166b0, 1px -1px #3166b0, -1px 1px #3166b0;
}

.options-landing{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.button-choose{
  display: flex;
  justify-content: center;
  height: 120px;
  margin: 5px;
  text-align: center;
  padding: 0px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #10c18f;
  transition: background-color 500ms;
  flex-direction: column-reverse;
  width: 100px;
  font-size: 10px;                   
}

.pokemon-button{
  height: 67px;
  align-self: center;
}

.button-choose:hover{
  background-color: #157cc7; 
  border: solid 2px white;
}



/* End of Landing Page */

.game{
  z-index: 10;
}

.pokemon-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back{
  width: 340px;
}

.pokemon{
  position: absolute;
  width: 80%;
}

.loading{
  width: 120px;
  animation: loadingAnimation 3s  infinite;
}

@keyframes loadingAnimation {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.options{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.option-button{
  width: 140px;
  height: 70px;
  border: 5px solid white;
  background-color: #3860aa;
  color: white;
  font-size: 15px;
  font-weight: 800;
  transition: 500ms;
  text-transform: uppercase;
  margin: 10px;
  border-radius: 10px;
}

.option-button:hover{
  transition: 500ms;
  background-color: #203762;
}

/* Media Tablet */
@media (min-width:700px) {
  .pokemon-logo{
    width: 200px;
    margin-top: 100px;
  } 

  .pokemon{
    width: 90%;
  }

  .back{
    width: 400px;
  }

  .option-button{
    width: 180px;
    font-size: 20px;
  }
}