*{
  font-family: 'Poppins', sans-serif;
}

.main-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #e83e2f;
}

.pokemon-logo{
  width: 200px;
  margin-top: 26px;
}

.pokemon-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back{
  width: 340px;
}

.pokemon{
  position: absolute;
  width: 80%;
}

.loading{
  width: 120px;
  animation: loadingAnimation 3s  infinite;
}

@keyframes loadingAnimation {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.options{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.option-button{
  width: 140px;
  height: 70px;
  border: 5px solid white;
  background-color: #3860aa;
  color: white;
  font-size: 15px;
  font-weight: 800;
  transition: 500ms;
  text-transform: uppercase;
  margin: 10px;
}

.option-button:hover{
  transition: 500ms;
  background-color: #203762;
}

@media (min-width:700px) {
  .pokemon-logo{
    width: 200px;
    margin-top: 100px;
  } 

  .pokemon{
    width: 90%;
  }

  .back{
    width: 400px;
  }

  .option-button{
    width: 180px;
    font-size: 20px;
  }
}